img {
    max-width: 100%;
  }
  
  a.primary {
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
  }
  
  a.full {
    clear: both;
    width: 100%;
    box-shadow: 0 3px 4px #000;
  }
  
  a.boxout1, a.boxout2 {
    clear: both;
    float: left;
    width: 60%;
    margin: 1em 1em 0 -4em;
    box-shadow: 0 3px 4px #000;
  }
  
  a.boxout2 {
    float: right;
    margin: 1em -4em 0 1em;
  }
  
  /* progressive image CSS */
  a.progressive {
    width: 100%;
    flex-basis: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    outline: none;
  }
  
  a.progressive:not(.replace) {
    cursor: default;
  }
  
  a.progressive img {
    display: block;
    flex-basis: 100%;
    width: 100%;
    max-width: none;
    border: 0 none;
    /*mix-blend-mode: multiply;*/
  }
  
  a.progressive img.preview {
    filter: blur(5vw);
    transform: scale(1.15);
    object-fit: cover;
  }
  
  a.progressive img.reveal {
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform, opacity;
    animation: reveal 1s ease-out;
  }
  
  @keyframes reveal {
      0% { transform: scale(1.15); opacity: 0; }
      100% { transform: scale(1); opacity: 1; }
  }
  